body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d1e30 !important;
  color: #ffffff!important;
  line-height: 1.55;
  font-size: 16px;
}


.appLogo { 
  height: 40px;
   border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} 